@{
    ViewData["Title"] = "Salones";
}
<h1><center>!Horarios de salones!</center></h1>
<img src="~/imagenes/chupiicsa.jpg" alt="mapa UPIICSA"  width="1000" id="mapa"/>
<img src="~/imagenes/botoncito.png" alt="boton edificio ingeniria" id="botoncito-ingenieria" 
style="position: absolute;
left:730px;
top: 421px;"/>
