@{
    ViewData["Title"] = "Salones";
}
<h1 class="text-center">
    <a asp-controller="Salones" asp-action="Administrador">
        ¡Horarios de salones!
    </a>
</h1>

<div class="position-relative d-flex justify-content-center">
    <img src="~/imagenes/chupiicsa.jpg" alt="mapa UPIICSA" class="img-fluid" />
    <a asp-controller="Salones" asp-action="Planta" class="position-absolute botoncito">
        <img src="~/imagenes/botoncito.png" alt="boton edificio ingenieria" class="img-fluid" />
    </a>
</div>