html {
  font-size: 14px;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav{
    background-color: #5a1236;
}
.botoncito {
    width: 4%;
    top: 55%;
    left: 73%;
    transform: scale(.8);
}

    .botoncito:hover {
        transform: scale(1);
        cursor: pointer;
    }

/****************************************************************************/

:root {
    --button-size: 100px; /* tamaño por defecto */
}

.square-button {
    width: var(--button-size);
    height: var(--button-size);
    font-size: calc(var(--button-size) / 5);
    border-radius: 0.5rem;
}

/****************************************************/
.boton-superior-derecho {
    position: absolute;
    top: 10px;
    right: 10px; /* Lado derecho */
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10; /* Por si se superpone algo */
}

    .boton-superior-derecho:hover {
        transform: scale(1.2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }